<!doctype html>
<html xmlns:og="http://ogp.me/ns#" ng-app="ChromeMusicPlayer" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Chrome Music Player</title>
    <meta name="viewport" content="width=device-width">

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/audioplayer.js"></script>
  </head>
  <body>
    <div class="app-container" ng-controller="MediaControlCtrl">
      <div class="app-control">
        <div class="left">
          <button class="backward btn" ng-click="backward()"></button>
          <button class="play btn" ng-class="{playing:status=='Pause'}" ng-click="play()"></button>
          <button class="forward btn" ng-click="forward()"></button>
          <input type="range" min="0" step="0.01" max="1" style="width:100px" ng-change="volume_change()" ng-model="volume">
        </div>
        <div class="center">
          <div>{{info.title}}</div>
          <div>{{info.artist}} - {{info.album}}</div>
          <div class="progress">
            <span>{{info.current|date:'mm:ss'}}</span>&nbsp;
            <progress max="100" value="{{info.progress}}"></progress>&nbsp;
            <span>{{info.duration|date:'mm:ss'}}</span>
          </div>
        </div>
        <div class="right">
          <img src="img/search.png" alt="">
          <input type="search" ng-model="query" placeholder="Search Music">
        </div>
      </div>
      <div class="app-main">
        <div class="app-sidebar">
          Data usage:
          <meter value="{{usage}}" min="0" high="{{quota/10*9}}" max="{{quota}}"></meter></br>
          <div class="artwork">
            <img src="{{info.artwork || 'img/artwork.png'}}" alt="">
          </div>
          <div class="controls">
            <input type="button" class="btn" value="Reload" placeholder="" ng-click="reload()"><br/>
            <input type="button" class="btn" value="Load music" placeholder="" ng-click="load_local_music()"><br/>
            <input type="button" class="btn" value="Dismiss music" placeholder="" ng-click="dismiss_music()"><br/>
          </div>
        </div>
        <div class="app-musiclist">
          <table class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
              </tr>
            </thead>
            <tbody style="">
              <tr ng-repeat="item in list | filter:query" ng-click="index()" ng-dblclick="index_and_play()" ng-controller="MediaCtrl">
                <td ng-class="{playing:player_index==$index}"></td>
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.album}}</td>
                <td>{{item.track}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </body>
</html>