<!doctype html>
<html xmlns:og="http://ogp.me/ns#" ng-app="ChromeMusicPlayer" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Chrome Music Player</title>
    <meta name="viewport" content="width=device-width">

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <div class="app-container" ng-controller="MediaControlCtrl">
      <div class="app-control">
        <div class="left">
          <button class="btn" ng-click="backward()">&lt;&lt;</button>
          <button class="btn" ng-click="play()">{{play_stop_label}}</button>
          <button class="btn" ng-click="forward()">&gt;&gt;</button>
          <input type="range" min="0" step="0.01" max="1" value="1" style="width:100px" ng-model="player.player.volume">
        </div>
        <div class="center">
          <div>{{player.info.title}}</div>
          <div>{{player.info.artist}} - {{player.info.album}}</div>
          <div class="progress">
            <span>{{currentTime|date:'mm:ss'}}</span>&nbsp;
            <progress max="100" value="{{progress}}"></progress>&nbsp;
            <span>{{player.duration|date:'mm:ss'}}</span>
          </div>
        </div>
        <div class="right">
          <input type="search" ng-model="query" value="" placeholder="Search Music">
        </div>
      </div>
      <div class="app-main">
        <div class="app-sidebar">
          <input type="button" class="btn" value="Load music" placeholder="" ng-click="load_local_music()" ng-disabled="loading" ng-init="loading=false">
          <input type="button" class="btn" value="Dismiss music" placeholder="" ng-click="dismiss_music()">
          <p style="color:#aaa; font-size: 0.75em;">it takes a while to load all your music depending on how many audio files you have on your local disk.</p>
          <div class="artwork">
            <img src="{{player.info.artwork}}" alt="">
          </div>
        </div>
        <div class="app-musiclist">
          <table class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
              </tr>
            </thead>
            <tbody style="">
              <tr ng-repeat="item in list | filter:query" ng-click="index()" ng-dblclick="index_and_play()" ng-controller="MediaCtrl">
                <td ng-class="{playing:player_index==$index}"></td>
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.album}}</td>
                <td>{{item.track}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </body>
</html>